* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(39, 56, 58);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0%;
}

.under-top {
    background-color: rgb(39, 56, 58);
    padding: 30px;
    border-top: 4px solid rgb(55, 133, 185);
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0%;
}

.active {
    color: rgb(55, 133, 185);
    font-weight: bold;
}

div h2 {
    font-size: 30px;
    padding: 0px;
    margin-left: 75px;
}

.box {
    padding: 10px 50px 10px 10px;
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    text-align: left;
}

.submit {
    font-size: 15px;
    border: 0;
    color: white;
    background-color: rgb(55, 133, 185);
    text-align: center;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
    margin-right: 100px;
}

body {
    background-color: rgb(241, 241, 241)
}

.container {
    display:flex;
    height: auto;
    padding: 20px;
}


.side {
    display: flex;
    flex-direction: column;
}

.om {
    font-size: 18px;
    margin:0;
    margin-left: 8px;
    padding-bottom: 20px;
    width: 70%;
}


.side-top {
    display: flex;
    justify-content: right;
    padding: 0px 20px 40px 0px;
    width: 200px;
    
}

.bruh {
    padding-bottom: 25px;
}

.side-bottom {
    display: flex;
    justify-content: right;
    width: 100px;
}

.vision {
    margin: 20px;
    color: white;
    border: 2px;
    border-right: 0px;
    background-color: rgb(39, 56, 58);
    padding: 20px;
    padding-bottom: 18px;

}


.submit:hover {
    color: rgb(55, 133, 185);
    background-color: white;
    font-weight: bold;
}

.sd {
    color: rgb(55, 133, 185);
    font-size: 35px;
    margin-left: 100px;
}

header h1 {
    padding-top: 18px;
}

.task {
    justify-content: end;
}

.top {
    color: white;
    font-size: 35px;
}

header ul {
    margin: 20px 0 0;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
}

ul li a {
    text-decoration: none;
    color: rgb(233, 233, 233);
    display: block;
}

a:hover {
    color: rgb(55, 133, 185);
    font-weight: bold;
}

header ul li a {
    display: block;
    padding: 15px 20px;
}

.menu {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
    margin-right: 100px;
}

footer {
    margin-bottom: 20px;   
    border-top: 3px solid rgb(55, 133, 185);
    border-bottom: 3px solid rgb(55, 133, 185);
    background-color: rgb(247, 255, 204);
}

footer div {
    padding: 15px;
}

footer div p {
    text-align: center;
    font-size: 16px;
}